@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-5">
        <h2><b>Our Founder</b></h2>
        <p>
            <img class="card-img-top img-responsive" src="~/Content/Images/coach.jpg" alt="BlowOut Founder">
        </p>
    </div>
    <div class="col-md-7">
        <h2><b>Our History</b></h2>
        <p class="title-description">Johan Snyder Mozart created BlowOut with the belief
        that a musician should never be without an instrument. He has been making that dream a reality since 1985.</p>
    </div>
</div>

<div class="row">
     <div class="col-md-12">
        <h2><b>Our Mission</b></h2>
        <p class="title-quote">Give every musician just what they need to be dangerous.</p>
    </div>
</div>