@{
    ViewBag.Title = "Home";
}
<!--McKay Palmer, Kyle Gill, Hammy Hamilton, James Winters-->
<div class="jumbotron bg-image">
    <div class="jumbotron-title">
        <h1>Welcome to Blow Out!</h1>
        <p class="lead">We blow our competetitors out of the water</p>
    </div>
    <p>@Html.ActionLink("Checkpoint #2", "Email", "Contact", new { email = "test@test.com", name = "kyle" }, new { @class = "btn btn-primary btn-large" })</p> 
</div>

<div class="row">
    <div class="col-lg-12 title-description">Rent new and used instruments from our diverse and impressive collection of austere and modern instruments.</div>
    <div class="col-lg-12 title-quote">"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.  - Johann Sebastian Bach</div>
</div>