
@{
    ViewBag.Title = "Instrument";
}

<h2>Instrument</h2>

<div class="row" style="margin-top: 20px">
    <div class="card-group">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top img-responsive" src="@ViewBag.url" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">@ViewBag.name</h4>
                    @Html.ActionLink("Rent New", "Rental", "Instrument", new { name = ViewBag.name, url = ViewBag.url, used = false }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Rent Used", "Rental", "Instrument", new { name = ViewBag.name, url = ViewBag.url, used = true }, new { @class = "btn btn-primary" })
                </div>
            </div>
          </div>
    </div>
</div>