
@{
    ViewBag.Title = "Rental";
}

<h2>Instrument - @ViewBag.name</h2>
<img src="@ViewBag.image" />
<p>@ViewBag.name</p>
<p>Price: $@ViewBag.price.00 a month</p>
<p>@ViewBag.used</p>

<div class="row">
    <div class="col-md-4">
        <span class="bg-success">Instrument is yours after 18 months!</span>
        <br /><br />
        <span class="bg-warning">Any returns before 3 months carry a $200 re-stocking fee</span>
        <span class="bg-warning">Equity forfeited if returned after 3 months</span>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>